/*header*/
.header {
    background: #424242;
    color: #b6b4b4;
}
.menu {
    text-align: left;
    padding: 0px 0;
}
.menu a {
    text-decoration: none;
    color: #b6b4b4;
}
.menu a:hover {
    background: #282828;
    color: white;
}
.item-menu {
    padding: 15px 15px;
}
.menu li {
    float: left;
    list-style-type: none;
}
.login {
    padding: 15px 0;
}
.logo {
    padding: 15px 0;
}

/*body*/
.sidebar {
    background: hsl(0deg 0% 94.51%);
    width: 100%;
}
.sidebar li {
    list-style-type: none;
    padding: 15px 0px;
}
.sidebar a {
    text-decoration: none;
}
/*button*/
.button {
    padding-top: 30px;
}
.item-button {
    display: block;
    padding: 30px 50px;
    margin: 30px 30px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px #424242;
}
.item-button:hover {
    background: #424242;
    color: white;
    box-shadow: 2px 2px #b6b4b4;
}
.sidebar-right {
    height: 100%;
}

@media only screen and (max-width:1200px) {
    .sidebar li{
        display: inline-block;
        padding: 15px 40px;
    }
    .item-button {
        display: inline-block;
    }
    .button {
        padding-top: 0px;
    }
}


